{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
    <h1>About Us</h1>
    <p class="lead">This application is built on the Python Flask framework and is the front page of this project. This page is about us. Here is some information to be displayed on the page. This is for testing purposes only. Keep checking back for more updates.</p>
    <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>
</div>
{% endblock %}